pandas
scikit-learn
matplotlib
xgboost
joblib
fastapi
uvicorn
python-multipart
pillow
numpy
deepface
shap
pytest
httpx
tf-keras
matplotlib
redis>=5.2.1
sqlalchemy==2.0.36
psycopg[binary]==3.2.4
alembic==1.14.0
pyjwt
passlib
pytest-asyncio
pydantic_settings